.button {
  background: var(--secondary);
  color: var(--primary);
  padding: 0px;
  margin: 5px;
  text-decoration: none;
}

.menu ul {
  display: grid;
  grid-gap: 2px;
  padding: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
}

.menu a {
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  color: var(--secondary);
  text-transform: uppercase;
  font-size: 24px;
  box-shadow: var(--shadow);
}

.menu a:hover {
  background: black;
  color: white;
}

.billboard {
  display: grid;
  justify-content: center;
}

.logoTitle {
  margin: 10px;
  display: grid;
  justify-content: center;
}

.aboutTitle {
  margin: 2px;
  display: grid;
  justify-content: center;
}

.logo {
  display: grid;
  justify-content: center;
}

.aboutTitle img {
  box-shadow: var(--shadow);
}

.wrapper {
  display: grid;
  grid-gap: 20px;
}

img {
  max-width: 100%;
}

.portfolio {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  justify-content: left;
}

.portfolio img {
  width: 100%;
  box-shadow: var(--shadow);
}

.portTitle {
  margin: 2px;
  display: grid;
  justify-content: left;
}

footer {
  display: grid;
  margin-top: 20px;
  background: var(--primary);
  color: var(--secondary);
  text-align: left;
  padding: 16px;
  box-shadow: var(--shadow);
}