@media (max-width: 768px) {
    .billboard {
    }
  
    .menu ul {
      grid-template-columns: 1fr;
    }
  
    .button {
      display: block;
      text-align: center;
      margin: auto;
    }
  }
  
  @media (max-width: 320px) {
    .billboard {
    }
  }